.price-title{
    font-weight: 700;
}
:host ::ng-deep .ngxImageZoomContainer {
    width: 400px !important;
    height: 400px !important;
}
:host ::ng-deep .ngxImageZoomFull {
    width: 400px !important;
    height: 400px !important;
}