<div class="d-flex" id="wrapper" [ngClass]="{'toggled': navbarOpened}">

    <!-- Sidebar -->
    <app-sidebar *ngIf="navbarOpened"></app-sidebar>
    <!-- /#sidebar-wrapper -->
  
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle" (click)="toggleNavbar()">
          <i class="fa fa-bars" aria-hidden="true" *ngIf="navbarOpened"></i>
          <i class="fa fa-times" aria-hidden="true" *ngIf="!navbarOpened"></i>
        </button>
      </nav>
      <router-outlet></router-outlet>
    </div>
    <!-- /#page-content-wrapper -->
</div>